<div class="container justify-content-center align-items-center">
  <div class="row">
      <div class="col-12 text-end">
        <a routerLink="/incidents-list" class="btn btn-primary btn-sm mb-2 me-0">
          <span class="fa fa-arrow-left"></span> Show Incidents
        </a>
    </div>
  </div>   
  <div class="p-3">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button (click)="showTab('incident')" class="nav-link {{showIncidentTabClass}}" id="nav-create-incident-tab"
          data-bs-toggle="tab" data-bs-target="#nav-create-incident" type="button" role="tab"
          aria-controls="nav-create-incident" aria-selected="true">Incident</button>
        <button (click)="showTab('chat')" class="nav-link {{showChatTabClass}}" id="nav-chat-tab" data-bs-toggle="tab"
          data-bs-target="#nav-chat" type="button" role="tab" aria-controls="nav-chat"
          aria-selected="false">Chat</button>
        <button (click)="showTab('comment')" class="nav-link {{showCommentTabClass}}" id="nav-Comment-tab"
          data-bs-toggle="tab" data-bs-target="#nav-Comment" type="button" role="tab" aria-controls="nav-Comment"
          aria-selected="false">Comment</button>
      </div>
    </nav>
    <div class="tab-content p-4 border" id="nav-tabContent">
      <div class="tab-pane fade {{showIncidentTabClass}}" id="nav-create-incident" role="tabpanel"
        aria-labelledby="nav-create-incident-tab">
        <form [formGroup]="form" (ngSubmit)="creatIncident()">
          <div class="row">
            <div class="col-6">
              <div class="row mb-3">
                <label for="inputDescription" class="form-label">Description</label>
                <div class="col-sm-12">
                  <input [(ngModel)]="incident.description" type="text" class="form-control disable-div-content"
                    formControlName="description" id="inputDescription" placeholder="Enter Description">
                </div>
              </div>

              <div class="row mb-3">
                <label for="inputSymptoms" class="form-label">Symptoms</label>
                <div class="col-sm-12">
                  <input readonly [(ngModel)]="incident.symptoms" type="text" class="form-control"
                    formControlName="symptoms" id="inputSymptoms" placeholder="Enter Symptoms">
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputSymptoms" class="form-label">Tenant</label>
                <div class="col-sm-12">
                  <select [(ngModel)]="incident.tenantId" class="form-select disable-div-content"
                    formControlName="tenantId" id="tenantId">
                    <option value="1" selected>HR</option>
                    <option value="2">IT</option>
                    <option value="3">Facility</option>
                  </select>
                </div>
              </div>

              <div class="row mb-3">
                <label for="inputSymptoms" class="form-label">Priority</label>
                <div class="col-sm-12">
                  <select [(ngModel)]="incident.priority" class="form-select disable-div-content"
                    formControlName="priorityId" id="tenantId">
                    <option value="0" selected>High</option>
                    <option value="1">Medium</option>
                    <option value="2">Low</option>
                  </select>
                </div>
              </div>

              <div class="row mb-3">
                <label for="inputSymptoms" class="form-label">Urgency</label>
                <div class="col-sm-12">
                  <select [(ngModel)]="incident.urgency" class="form-select disable-div-content"
                    formControlName="urgencyId" id="urgencyId">
                    <option value="0" selected>High</option>
                    <option value="1">Medium</option>
                    <option value="2">Low</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="row mb-3">
                <label for="inputSymptoms" class="form-label">Country</label>
                <div class="col-sm-12">
                  <select class="form-select disable-div-content" id="countryId">
                    <option value="1">India</option>
                  </select>
                </div>
              </div>

              <div class="row mb-3">
                <label for="inputSymptoms" class="form-label">State</label>
                <div class="col-sm-12">
                  <select class="form-select disable-div-content" id="stateId">
                    <option value="1">Maharashtra</option>
                  </select>
                </div>
              </div>

              <div class="row mb-3">
                <label for="inputSymptoms" class="form-label">City</label>
                <div class="col-sm-12">
                  <select [(ngModel)]="incident.cityId" class="form-select disable-div-content" formControlName="cityId"
                    id="cityId">
                    <option value="1" selected>Pune</option>
                    <option value="2" selected>Mumbai</option>
                  </select>
                </div>
              </div>

              <div class="row mb-3">
                <label for="inputSymptoms" class="form-label">Status</label>
                <div class="col-sm-12">
                  <select [(ngModel)]="incident.status" class="form-select" formControlName="status" id="statusId">
                    <option value="0">New</option>
                    <option value="1">Assigned</option>
                    <option value="2">In Progress</option>
                    <option value="3">Resolved</option>
                    <option value="4">Closed</option>
                    <option value="5">Cancelled</option>
                    <option value="6">Rejected</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="row mb-3 text-start">
            <div class="col-sm-12">
              <button type="button" type="submit" [disabled]="!form.valid" class="btn btn-primary">Save</button>
            </div>
          </div>
        </form>
      </div>
      <div class="tab-pane fade {{showChatTabClass}}" id="nav-chat" role="tabpanel" aria-labelledby="nav-chat-tab">
        <textarea cols="10" rows="5" class="form-control disable-div-content"></textarea>
      </div>
      <div class="tab-pane fade {{showCommentTabClass}}" id="nav-Comment" role="tabpanel"
        aria-labelledby="nav-Comment-tab">
        <form [formGroup]="commentForm" (ngSubmit)="addComment()">
          <div class="w-50">            
            <div class="row mb-3">
              <label for="inputComment" class="form-label">Comment</label>
              <div class="col-sm-12">
                <textarea rows="5" [(ngModel)]="message" class="form-control" formControlName="message" id="inputComment" placeholder="Enter Comment"></textarea>
              </div>
            </div>
            <div class="row mb-3 text-start">
              <div class="col-sm-12">
                <button *ngIf="!bHasComment" type="button" type="submit" [disabled]="!commentForm.valid" class="btn btn-primary">Save</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>